.msg-single-main{
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 5px;
    border-bottom: 1px solid #333333 ;
}


#msg-single-profile{
    width: 60px;
    border-radius: 50%;
}

#msg-single-username{
    font-size: 1.2em;
    padding-left: 20px;
}